@font-face {
	font-family: ubuntu; 
	src: url(fonts/Ubuntu-R.ttf);
}
body{
	margin: 0px;
	font-family: ubuntu;
}
.h1{
	font-weight: 700;
	padding:0px 15px;
	color: #000000;
}
.uppercase{
	text-transform: uppercase;
}
.textblock{
	font-size: 16px;
	color: #000000;
	line-height: 24px;
	width: 100%;
}
.inline-block{
	display: inline-block;
}
.invisible{
	display: none!important;
}
.background-image{
	filter: blur(5px);
	width: 100%;
	height: 100%;
	z-index: -2;
	position: fixed;
	left: 0;
	top: 0;
	background-image: url(images/concert.jpg);
	background-size: cover;
}
.mask{
	width: 100%;
	height: 100%;
	z-index: -1;
	position: fixed;
	left: 0;
	top: 0;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,0.1) 0%, rgba(0, 0, 0, 0.64) 0%, rgba(255, 255, 255, 0) 100%);
}
.b-head{
	height: 100vh;
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.b-head_empty{
	width:100%;
	height: 20%;
}
.b-head_navi-absolute{
	top: 80%;
	left: 0px;
	right: 0px;
	display: none;
}
.b-head_navi-background{
	background: #0b082a;
}
.b-head_navi,.b-head_navi-main{
	padding: 25px 0px;
	margin: auto;
	transition: all, 0.5s;
	text-align: center;
	z-index:10;
	width:100%;
}
.burger-menu{
	display: none;
	padding: 25px 0px;
	margin: auto;
	transition: all, 0.5s;
	z-index:10;
	width:100%;
	background: #0b082a;
	color: #fff;
}
.b-head_navi-cart-mobile{
	display: inline-block;
	text-align: right;
	color: #fff;
	opacity: 0.68;
	font-weight: 400;
	float: right;
	padding-right: 15px;
}
.burger-menu-icon{
	position: relative;
	padding-left:15px;
}
.burger-menu-icon:hover .b-head_navi-mobile{
	display: flex;
}
.b-head_navi-mobile{
	display: none;
	position: absolute;
	left: 0px;
	width: 200px;
}
.b-head_navi-but--mobile{
	margin-top:15px;
	margin-left:23px;
}

.b-head_phone.b-head_phone--mobile {
	font-weight: 700;
	opacity: 0.8;
	color: #fff;
	font-weight: bold;
	margin-left: 30px;
	margin-bottom: 15px;
	text-decoration: none;
	font-size: 20px;
	width:auto;
	border-radius:3px;
}
@media (max-width: 991px){
	.b-head_navi-main{
		display: none;
	}
	.burger-menu{
		display: inline-block;
	}
	.b-content{
		width:100%!important;
	}
	.b-content-tickets{
		width:100%!important;
	}
}
@media (max-width: 767px){
	.b-tickets_head{
		width:100%!important;
	}
	.b-tickets_zone{
		width:100%!important;
	}
	.b-tickets_card-buy{
		width:auto!important;
		padding-right:0px!important;
	}
	.b-content-tickets{
		padding:0px!important;
	}
		.b-content_sale{
		padding:0px!important;
	}
}
@media (max-width: 576px){

}
@media(max-width: 700px){
	.b-tickets_card-background{
		display: none!important;
	}
	.b-tickets_card{
		height: auto!important;
		flex-direction: column;
		align-content:  stretch;
	}
	.b-tickets_card-data{
		width:100%!important;
	}
	.b-tickets_card-content{
		width:100%!important;
	}

}

.b-head_navi-buttons, .b-head_phone, .b-head_navi-cart{
	margin:0px;
	box-sizing: border-box;
}
.b-head_navi-buttons{
	width:59%;
	text-align: center;
	display: inline-block;
}
.b-head_navi-buttons-mobile{
	display: flex;
	flex-direction: column;
}
.b-head_navi-but{
	height: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700; 
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 35px;
	z-index: 2;
	transition: all,0.6s;
	display: inline-block;
	border-radius: 5px;
	padding-left:7px;
	padding-right:7px;
	opacity:0.68;
}
.b-head_phone{
	display: inline-block;
	width: 20%;
	opacity:0.8;
}
.b-head_phone a{
	height: 100%;
	color: #fff;
	padding-right: 1.2em;
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 35px;
	z-index: 2;
	border-radius: 5px;
}
.b-head_navi-cart{
	display: inline-block;
	width:20%;
	text-align: right;
	color:#fff;
	opacity:0.68;
	font-weight: 400;
}
.b-head_navi-cart i{
	padding: 10px;
}
.b-head_phone a:hover, .b-head_navi-but:hover{
	background:#fff;
	color: #0b082a;
}
.b-head_phone.b-head_phone--mobile:hover{
	background:#fff;
	color: #0b082a;
}
.b-content{
	 width: 80%;
	 margin: auto;
	 background: #fff;
}
.content-box--display{
	display: none;
}
.content-box{
	height: auto;
	width: 100%;
	margin: auto;
	transition: all, 0.5s;
	margin-top: 150px;
}
.b-main-logo{
	font-size: 130px;
	text-align: center;
	color: #fff;
	opacity:0.68;
	left: 0;
	right: 0;
	margin: auto;
}
.b-main-but{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	background: #0b082a;
	padding: 20px;
	color:#fff;
	border-radius: 10px;
	border:1px solid #fff;
	transition:all, 0.7s;
}
.b-main-but:hover{
	background:#fff;
	color:#0b082a;
}
.main-logo{
	display: block;
}
.b-content-main{
	width: 100%;
	height: auto;
	background: #fff;
}
.b-head_navi-you-cart{
	font-size: 14px;
}
.main-logo, .b-main-but{
	transition: all,0.5s;
}
.b-tickets_card,.b-tickets_card--distant{
	position: relative;
	display: flex;
	background: #5c5cff;
	height: 100px;
	width: 100%;
	margin: auto;
	color:#fff;
	margin-top: 15px;
	margin-bottom: 15px;
}
.b-tickets_card--distant{
	height: 70px;
}
.b-tickets_card-date{
	display: block;
}

.b-tickets_card-data{
	width: 15%;
	background: #0b082a;
	height: 100%;
	text-align: center;
	z-index: 1;
}
.b-tickets_card-data-distant{
	width: 15%;
	height: 100%;
	text-align: center;
	z-index: 1;
	box-sizing: border-box;
	padding: 24px 0px;
}
.b-head-null{
	height: 0px;
}
.b-content-tickets,.b-content_about,.b-content_footer{
	background: #fff;
	box-sizing: border-box;
	padding: 15px;
}

.mounth{
	font-size: 16px;
	font-weight: 700;
}
.day{
	font-size: 50px;
	font-weight: 700;
}
.day--distant{
	font-size: 16px;
	font-weight: 700;

}

.b-tickets_card-time{
	font-size: 24px;
	margin-bottom: 1px;
	padding-top: 13px;
	display: block;
}
.b-tickets_card-content{
	width: 85%;
	display: flex;
	background: rgba(0,0,0,0.4);
	transition: all, 0.7s;
}
.b-tickets_card-region{
	width: 50%;
	display: flex;
	flex-direction: column;

}
.b-tickets_card-region--distant{
	width: 75%;
	display: flex;
	align-items: center;

}
.b-tickets_card-buy{
	width: 50%;
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	justify-content: right;
	box-sizing: border-box;
	padding-right: 30px;
}
.b-tickets_card-buy--distant{
	width: 25%;
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	justify-content: right;
	box-sizing: border-box;
	padding-right: 30px;
	text-transform: uppercase;
}
.b-tickets_card-buy-cart{	
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #5c5cff;
	text-align: center;
	vertical-align: bottom;
	display: flex;
	text-decoration: none;
	align-items: center;
	align-content: flex-end;
	justify-content: center;
	transition: all, 0.5s;
	z-index: 1;
	color: #fff;
}
.b-tickets_card-buy-cart:hover{
	color: #0b082a;
	background: #fff;
}

.b-tickets_card-background--distant,.b-tickets_card-background{
	background-size:cover;
	opacity: 0;
	transition: all, 0.7s;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
}

.b-tickets_card--distant:hover .b-tickets_card-background--distant{
		opacity: 0.65;
}
.b-tickets_card:hover .b-tickets_card-background{
	opacity: 1;
}
.region{
	z-index: 1;
	font-size: 24px;
	font-weight: 700;
	padding: 10px;
	text-transform: uppercase;
}
.region--distant{
	z-index: 1;
	font-size: 14px;
	font-weight: 700;
	padding: 10px;
	text-transform: uppercase;
}

.location{
	z-index: 1;
	font-size: 14px;
	padding: 15px;
}
.location--distant{
	z-index: 1;
	font-size: 14px;
	padding: 10px;
	font-weight: 700;
}
.b-buy{
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
}
.b-tickets_card-buy-price{
	padding: 10px;
	font-size: 14px;
}
.b-buy--distant{
	padding: 10px;
	font-size: 14px;
}
.b-tickets_card-buy-request{
	height: 40px;
	width: 145px;
	background: #6664f5;
	color: #fff;
	text-align: center;
	vertical-align: baseline;
	box-sizing: border-box;
	border: #fff 2px solid;
	transition: all, .1s;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 700;
	border-radius: 4px;
	text-decoration: none;
}
.b-tickets_card-buy-request:hover{
	background: #6664f5;
	height: 45px;
	}
.b-tickets_card-content--distant{
	width: 85%;
	display: flex;
}
.b-tickets_card-data,
.b-tickets_card-content,
.b-tickets_card-buy,
.b-tickets_card-data-distant,
.b-tickets_card-content--distant,
.b-tickets_card-buy--distant{
	z-index: 1;
}
.b-content_about-video{
	display: flex;
	justify-content: center;
}
.row{
	padding: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.b-content_news, .b-content_about, .b-content_photo{
	background:rgba(0,0,0,0.06);
}
.b-content_card{
	width: 50%;
	box-sizing: border-box;
	padding: 15px;
	cursor: pointer;
	text-decoration: none;
}
.b-content_card-content{
	position: relative;
	width: 100%;
	height: 300px;
	background-size: cover!important;
	color:#fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-position-x: center !important;
	text-decoration: none;
}
.b-news-description{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px;
	z-index: 2;
	text-decoration: none;
	color:#fff;
}
.b-news-data{
	padding: 15px;
	z-index: 2;
	color:#fff;
}
.b-passage-photo{
	width:33%;
	box-sizing: border-box;
	padding: 15px;
}
@media (max-width: 991px){
	.b-content_card{
		width: 100%;
	}
	.b-passage-photo{
		width: 50%;
	}
}
@media(max-width: 767px){
	.b-passage-photo{
		width: 100%;
	}
}
.b-content_card-mask{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1;
	transition: all, 0.7s;
}
.b-content_card:hover .b-content_card-mask{
	background: rgba(0,0,0,0.1);
}
.big-news{
	width:100%;
	order:-1;
	cursor: default;
}
.passage-photo{
	width: 100%;
}
.b-content_about-tickets{
	padding: 0px 15px;-
}
.b-content-plan{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.b-content_sale{
	padding: 15px;
	box-sizing: border-box;
}
.b-tickets_zone{
	display: flex;
	flex-direction: column;
}
.b-content_tickets{
	display: flex;
	flex-direction: column;
}
.b-tickets_zone{
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.b-tickets_zone-content{
	display: flex;
	height: 50px;
	box-shadow: 0 0 4px rgba(0,0,0,0.6);
	background: rgba(0,0,0,0.15);
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}
.b-tickets_row{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.zone-number,
.tickets-count,
.tickets-price,
.tickets-buy,
.tickets-visible{
	width:25%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.zone-number{
	box-shadow: -0.5px 0px 1px rgba(0,0,0,0.2);
}
.b-tickets_row-content{
	height: 50px;
	display: flex;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
	background: rgba(0,0,0,0.05);
	font-size: 14px;
	text-transform: uppercase;
}
.b-tickets_place{
	height: 40px;
	display: flex;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	font-size: 14px;
	box-sizing: border-box;
}

.tickets-visible,
.tickets-buy{
	box-shadow: .5px 0px 1px rgba(0,0,0,0.2);
}
.b-tickets_place .zone-number{
	box-shadow:none;
}
.b-tickets_place .tickets-count{
	box-shadow: -0.5px 0px 1px rgba(0,0,0,0.2);
}
.b-content_footer{
	display: flex;
	height: 130px;
	width: 80%;
	margin: auto;
	background: #0b082a;
}
.footer-navi{
	display: flex;
	flex-direction: column;
}
.navi-item{
	display:inline-block;
	color: #fff;
	font-weight: 100; 
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 14px;
	padding:4px;
	border-radius: 3px;
}
.navi-item:hover{
	background:#fff;
	color: #0b082a;
}
.b-footer{
	background: #0b082a;
	width: 100%;
}
.b-tickets_head{
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	background: rgba(0,0,0,0.5);
	font-size: 14px;
	text-transform: uppercase;
	color:#fff;
	height: 50px;
	font-weight:700;
}